{% extends "base.html" %}
{% block content %}
    <h1>Tool List</h1>
    <a href="{% url 'tools:tool_add' %}">Add Tool</a>
    <ul>
        {% for tool in object_list %}
            <li>
                <a href="{% url 'tools:tool_detail' tool.pk %}">{{ tool }}</a>
                (<a href="{% url 'tools:tool_edit' tool.pk %}">Edit</a> |
                <a href="{% url 'tools:tool_delete' tool.pk %}">Delete</a>)
            </li>
        {% empty %}
            <li>No tools found.</li>
        {% endfor %}
    </ul>
{% endblock %}